.logo {
  background-image: url("../images/inMotion_ignite-color.78e7a674.svg");
  height: 125px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
